extends layout
append head
  script(type='text/javascript', src='/scripts/default.js')

prepend content_before
  .optionsNav
    ul(container)
      li.title._ps Dashboard
      li._ps(id='followerCount')
        b 
block content
  label.label--checkbox
    input(type="checkbox" class="checkbox" id="autolike" disabled)
    span._mlxs Tweet Auto-Liker
    br
    small
      span This tool automatically likes Tweets periodically from your timeline.
      | <br><b>NOTICE:</b> Twitter does not allow the use of tools to automatically
      | like Tweets. Proceed at your own risk.
  script(type='text/javascript', src='/scripts/dashboard.js')