extends layout
append head
  script(type='text/javascript', src='/scripts/homepage.js')

block header
  section.hero-large(ng-cloak)
    if user 
      +Header
    section.hero
      .inner-hero._text-center(container)
        h1.lead
          | Welcome to AmpTweet
        h4.lead-desc Grow your Twitter audience. No billing, ever.
        if !user
          .calltoaction._mtxs(ng-controller="twitterSignIn as data")
            md-button(class="md-raised md-primary",
              ng-click='data.signIn()')
              span._mlxs._mrxs {{data.signInText}}
            h6.info
              span Currently in alpha testing.

block content_before
  div._mts._mbs(container)
    div.
      #[a(href="https://gitlab.com/amptweet") Contribute on GitLab] 
      and #[a(href="https://twitter.com/AmpTweetSocial") follow us on Twitter!]
