extends layout
append head
  script(type='text/javascript', src='/scripts/homepage.js')

block header
  section.hero-large(ng-cloak)
    +Header
    section.hero
      .inner-hero(container)
        h1.lead(column="left 10")
          | Grow your Twitter audience. No billing, 
          b period.
        if !user
          .calltoaction(column="left" ng-controller="twitterSignIn as data")
            md-button(class="md-raised md-primary",
              ng-click='data.signIn()')
              span {{data.signInText}}
            md-button.md-icon-button.md-raised.md-primary(ng-click='data.signIn()')
              i.material-icons arrow_forward
            h6.info
              i.material-icons warning
              span Currently in alpha testing.

block content_before
  div._mts._mbs(container)
    div.
      #[a(href="https://gitlab.com/amptweet") Contribute on GitLab] 
      and #[a(href="https://twitter.com/AmpTweetSocial") follow us on Twitter!]
