extends layout

block header
  section.hero-large
    +Header
    section.hero
      .inner-hero(container)
        h1.lead(column="left 10")
          | Grow your Twitter audience. No billing, 
          b period.
        if !user
          .calltoaction(column="left")
            button(type="submit",
              class="twitter-sign-in mdc-button mdc-button--raised\
              mdc-button--primary mdc-ripple-surface",
              onclick="window.location=\"/auth/twitter/redirect\"",
              data-mdc-auto-init="MDCRipple")
              | Sign in with Twitter 
              span.mdi.mdi-arrow-right
            h6.info
              span.mdi.mdi-alert-circle-outline
              |  Currently in alpha testing.

block content_before
  div._mts._mbs(container)
    div.
      #[a(href="https://gitlab.com/amptweet") Contribute on GitLab] 
      and #[a(href="https://twitter.com/AmpTweetSocial") follow us on Twitter!]
