extends layout

block content
  p Welcome to #{title}
  if !user 
    a(onclick="window.location=\"/auth/twitter/redirect\"") Login with Twitter
  else
    span.
      #[a(href="https://gitlab.com/amptweet") Visit us on the World Wide Web] 
      and #[a(href="https://twitter.com/AmpTweetSocial") follow us on Twitter!]