doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      header
        if user.profile
          #accountInfo
            img(height='32px' width='32px' src=user.profile.avatar)
            h2=user.profile.name
              small @#{user.profile.username}
    block content
