if user
  -var logoURL = '/dashboard'
else
  -var logoURL = '/' 
if title
  -var nootitle = title + ' - AmpTweet'
else
  -var nootitle = 'AmpTweet'

mixin Header
  header.top-bar
    nav.nav-bar(container)
      .wrapper(grid="no-collapse")
        .branding(column="center")
          a.name(href=logoURL)
            img.logo(src='/images/brand.svg', alt='AmpTweet')
        if user
          .menu-links(column)
            .wrapper
              //- .link
              //-   a(href='/') Home  
              .account-info
                .avatarcontainer
                  a.name(title=('@' + user.profile.username), href="#")
                    img.avatar(src=user.profile.avatar)
              .account-options
                ul
                  li
                    .name 
                      small Hello, 
                      =user.profile.name
                  li
                    a(href="/auth/twitter/logout") Sign out

doctype html
html
  head
    block head
      meta(charset='utf-8')
      title= nootitle
      meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
      link(rel='stylesheet', href='https://cdn.concisecss.com/concise.min.css')
      link(rel='stylesheet', href='https://cdn.concisecss.com/concise-utils/concise-utils.min.css')
      link(rel='stylesheet', href='https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css')
      link(rel='stylesheet', href='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/cooper-hewitt.css')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      script(type='text/javascript', src='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.js')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js')
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js')
      script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin='anonymous')
  body._mbs
    block header
      +Header
    block content_before
      div._mtxs(container)
        block content 
    script(type='text/javascript').
      mdc.autoInit();
    div._mtxs(container)
      form.paypal(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
        input(type="hidden" name="cmd" value="_s-xclick")
        input(type="hidden" name="hosted_button_id" value="L99D2NWBP579C")
        input.image(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
        span._mlxs Help keep the project in development. Support us!
        img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
    script(type='text/javascript', src='/scripts/default.js')
