doctype html
html
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://cdn.concisecss.com/concise.min.css')
    link(rel='stylesheet', href='https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cooper-hewitt.css')
    script(type='text/javascript', src='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.js')
  body
    block header
      header.top-bar
        nav.nav-bar(container)
          .wrapper(grid)
            .branding(column="center")
              .name AmpTweet
            .menu-links(column)
              .wrapper
                // .link
                //   a(href='/') Home
                if user
                  .account-info
                    .avatarcontainer
                      img.avatar(src=user.profile.avatar)
                    .usercontainer
                      .name(title='@#{user.profile.username}')=user.profile.name
    block content 
      div(container)
    script(type='text/javascript').
      mdc.autoInit();