if user
  -var logoURL = '/dashboard'
else
  -var logoURL = '/' 
if title
  -var nootitle = "AmpTweet :: " + title
else
  -var nootitle = 'AmpTweet'

mixin Header
  header.top-bar
    nav.nav-bar(container)
      .wrapper(grid="no-collapse")
        .branding(column="center")
          a.name(href=logoURL)
            img.logo(src='/images/brand.svg', alt='AmpTweet')
        if user
          .menu-links(column)
            .wrapper
              //- .link
              //-   a(href='/') Home  
              .account-info
                .avatarcontainer
                  a.name(title=('@' + user.profile.username), href="#")
                    img.avatar(src=user.profile.avatar)
              .account-options
                ul
                  li
                    .name 
                      small Hello, 
                      =user.profile.name
                  li
                    a(href="/auth/twitter/logout") Sign out

doctype html
html
  head
    meta(charset='utf-8')
    title= nootitle
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='https://cdn.concisecss.com/concise.min.css')
    link(rel='stylesheet', href='https://cdn.concisecss.com/concise-utils/concise-utils.min.css')
    link(rel='stylesheet', href='https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cooper-hewitt.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js')
  body
    block header
      +Header
    block content_before
      div._mtxs(container)
        block content 
    script(type='text/javascript').
      mdc.autoInit();
    script(type='text/javascript', src='/scripts/default.js')
