:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-accent: #1976d2;
  font-family: 'Cooper Hewitt', -apple-system, Helvetica Neue, Segoe UI, San Francisco, Ubuntu, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.mdc-button {
  font-family: 'Cooper Hewitt', -apple-system, Helvetica Neue, Segoe UI, San Francisco, Ubuntu, sans-serif;
}
h3 {
  font-weight: 500;
}
a {
  color: #377fc3;
}
.menu-links > .wrapper {
  float: right;
  clear: both;
  height: 100%;
  padding: 0.5rem 0;
  position: relative;
}
.menu-links > .wrapper > .link,
.menu-links > .wrapper > .account-info {
  display: block;
  height: 2rem;
  line-height: 2rem;
}
.menu-links > .wrapper > .link a {
  display: block;
  height: 100%;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.menu-links > .wrapper > *:last-child {
  margin-right: 0;
}
.optionsNav {
  background-color: #333;
}
ul {
  list-style: none;
}
.optionsNav .title {
  color: #fff;
  padding-left: 0;
}
.optionsNav ul li {
  font-size: 1.2rem;
  float: left;
  color: #fafafa;
}
.optionsNav ul li > a {
  display: block;
}
.optionsNav ul li > a:hover {
  background-color: rgba(0,0,0,0.2);
}
.top-bar {
  min-height: 3rem;
  background: #fff;
  color: #333;
}
.top-bar .account-info {
  max-height: 3rem;
  clear: both;
}
.top-bar .account-info > .avatarcontainer {
  float: left;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
.top-bar .account-info > .avatarcontainer .avatar {
  float: left;
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.top-bar .account-info > .usercontainer {
  margin-left: 2.5rem;
}
.top-bar .account-info > .usercontainer > .name {
  height: 2rem;
  line-height: 2rem;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
}
.top-bar .nav-bar {
  height: 100%;
  min-height: 3rem;
  overflow: visible;
}
.top-bar > .nav-bar > .wrapper {
  height: 100%;
  min-height: 3rem;
}
.nav-bar .branding {
  height: 3rem;
  flex: 10;
  align-self: stretch;
  padding: 0 1rem;
}
.nav-bar .branding > .name {
  align-items: center;
  height: 100%;
  vertical-align: middle;
  display: inline-flex;
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 1.65rem;
  font-style: italic;
  color: #fafafa;
}
.nav-bar .branding > .name > .logo {
  height: 1.5rem;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 360px;
  min-height: 20rem;
  margin-top: 0;
  box-sizing: border-box;
  padding: 3rem 0;
}
.hero-large {
  position: relative;
  background: rgba(0,0,0,0.17);
}
.hero-large:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: -2;
  background-image: url("../images/promo.jpg");
  background-size: cover;
  background-position: 20% 20%;
}
.hero > .inner-hero > .lead {
  font-size: 2.75rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 0.25rem 0.25rem 1.25rem rgba(0,0,0,0.35);
}
.hero > .inner-hero > .lead > b {
  font-weight: 700;
  color: #ffc107;
  text-transform: uppercase;
}
.hero > .inner-hero > .calltoaction > .twitter-sign-in {
  background-color: #1da1f2;
  font-style: italic;
  font-weight: 500;
  margin: 0.75rem 0;
  font-size: 1rem;
  height: 2.5rem;
  padding: 0 1.25rem;
}
.hero > .inner-hero > .calltoaction > .info {
  font-weight: 500;
  color: #ff0;
}
.menu-links > .wrapper > .account-options {
  background-color: #fafafa;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.35);
  position: absolute;
  top: 2rem;
  width: auto;
  z-index: 10;
  display: none;
  min-width: 7rem;
  right: 0;
  opacity: 0;
}
.menu-links > .wrapper > .account-options .name {
  padding: 0.25rem 0.5rem;
}
.menu-links > .wrapper > .account-options li > a {
  display: block;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  white-space: pre;
}
.menu-links > .wrapper > .account-options li > a:hover {
  outline: 1px dotted currentColor;
  outline-offset: -0.25rem;
}
